.env
certs/*
certs/*/*
!certs/.gitkeep
certs/truststore/
!certs/truststore/.gitkeep
.ansible
!databases/export/.gitkeep
databases/export/*tar.gz
databases/*tar.gz
.agents
skills-lock.json
.idea
keycloak-providers
**/target
**/dist
**/node
